rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read and write access to modern appState for instant global syncing
    match /appState/{document} {
      allow read, write: if true;
    }

    // Default-deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
